{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},  % needs to be the first dependency!!!! See https://github.com/basho/rebar/issues/270
    {epcap, ".*", {git, "https://github.com/msantos/epcap.git", "master"}},
    {aho_corasick, ".*", {git, "https://github.com/josemic/aho_corasick.git", "master"}}%    
]}.

{sub_dirs, ["common", "epcap_port_app", "rule", "content_app", "stream_app", "examples"]}.
{erl_opts, [
% warnings_as_errors,
warn_export_all,
{parse_transform, lager_transform}, % for lager
{lager_truncation_size, 1000000}  % for lager
]}.

%{erl_opts, [native, {hipe, [o3]}]}. % for HiPE
%{erl_opts, [native, {hipe, [o3]}, warnings_as_errors]}. % for HiPE
