{deps, [
    {epcap, ".*", {git, "https://github.com/msantos/epcap.git", "master"}},
    {aho_corasick, ".*", {git, "https://github.com/josemic/aho_corasick.git", "master"}}
]}.

{sub_dirs, ["epcap_port_app", "rule", "content_app", "defrag_app", "examples"]}.

%{erl_opts, [native, {hipe, [o3]}]}. % for HiPE
%{erl_opts, [native, {hipe, [o3]}, warnings_as_errors]}. % for HiPE
